/* 
.container {
    background-color: rgb(211, 211, 211);
    text-align: center;
    border-radius: 5px;
}



a {
    background-color: green;
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size:20px ;
    padding: 10px 40px;
    margin: 30px;
}

.images {
    margin-top: 50px;
}

.open {
    display:none;
    
} */